# Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
env/
*.env

# IDE configs
.idea/
.vscode/
*.iml

# macOS files
.DS_Store

# Logs, OS clutter, misc
*.log

# Docker + GCP
.gcloudignore
